<div class="container mt-5">
  <table class="table mt-4">
    <thead>
      <tr>
        <th><%= t('shop.name') %></th>
        <th><%= t('actions.title') %></th>
      </tr>
    </thead>
    <tbody>
      <% @shops.each do |shop| %>
        <tr>
          <td><%= shop.name %></td>
          <td>
            <%= link_to t('titles.shop.edit'), edit_shop_path(shop), class: 'btn btn-primary btn-sm me-2' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'shared/back' %>
</div>
