<% if is_new_or_create? %>
  <button id='import-toggle' class='btn btn-info'>
    <%= t('switch_import_method')%>
  </button>
  <br>
<% end %>

<%= simple_form_for @procurement, html: { class: 'procurement-form' } do |f| %>
  <% if is_new_or_create? %>
    <%= f.input :file, label: t('form.file'), as: :file, input_html: { class: 'form-control' } %>
  <% end %>
  <%= f.label :sku_id, class: 'procurement_sku_id' %>
  <%= f.input :sku_id, label: false, as: :select, input_html: { class: 'select2', style: 'width: 40%;' }, collection: @skus.map{|x| [x.name, x.id]}, selected: @procurement.sku_id %>
  <%= f.input :qty, label: t('procurement.qty') %>
  <%= f.input :unit_price, label: t('procurement.unit_price') %>
  <%= f.input :total_price, label: t('procurement.total_price') %>
  <%= f.input :delivery_fee, label: t('procurement.delivery_fee') %>
  <%= f.input :received_qty, label: t('procurement.received_qty') %>
  <%= f.input :purchased_at, as: :string, label: t('procurement.purchased_at'), input_html: { class: 'flatpickr-date' } %>
  <%= f.input :note, label: t('procurement.note') %>

  <%= f.button :submit, t('form.submit'), class: 'btn btn-primary' %>
<% end %>

<%= render 'shared/back' %>

<script>
  $(document).ready(function() {
    function toggleProcurementForm() {
      let procurementVisible = $('.procurement_sku_id').is(':visible');
      let fileVisible = $('.procurement_file').is(':visible');

      $('.procurement-form')[0].reset()

      if (procurementVisible) {
        $('.procurement_delivery_fee, .procurement_sku_id, .procurement_qty, .procurement_unit_price, .procurement_total_price, .procurement_received_qty, .procurement_purchased_at, .procurement_note').hide();
        $('.procurement_file').show();
      } else if (fileVisible) {
        $('.procurement_file').hide();
        $('.procurement_delivery_fee, .procurement_sku_id, .procurement_qty, .procurement_unit_price, .procurement_total_price, .procurement_received_qty, .procurement_purchased_at, .procurement_note').show();
      }
    }

    toggleProcurementForm();
    $('#import-toggle').click(toggleProcurementForm);
  });
</script>