<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="mb-5"><%= t('titles.welcome_message') %></h1>
      <%= render 'shop_selection' %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= t('home.shop') %></h5>
          <hr>
          <%= link_to t('titles.shop.create'), new_shop_path, class: 'btn btn-primary btn-block m l' %>
          <%= link_to t('titles.shop.list'), shops_path, class: 'btn btn-info btn-block' %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= t('home.investor') %></h5>
          <hr>
          <%= link_to t('titles.investor.create'), new_investor_path, class: 'btn btn-primary btn-block' %>
          <%= link_to t('titles.investor.list'), investors_path, class: 'btn btn-info btn-block' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= t('home.sku') %></h5>
          <hr>
          <%= link_to t('titles.sku.create'), new_sku_path, class: 'btn btn-primary btn-block' %>
          <%= link_to t('titles.sku.list'), skus_path, class: 'btn btn-info btn-block' %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= t('home.shipment') %></h5>
          <hr>
          <%= link_to t('titles.shipment.create'), new_shipment_path, class: 'btn btn-primary btn-block' %>
          <%= link_to t('titles.shipment.list'), shipments_path, class: 'btn btn-info btn-block' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= t('home.procurement') %></h5>
          <hr>
          <%= link_to t('titles.procurement.create'), new_procurement_path, class: 'btn btn-primary btn-block' %>
          <%= link_to t('titles.procurement.list'), procurements_path, class: 'btn btn-info btn-block' %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= t('home.delivery_record') %></h5>
          <hr>
          <%= link_to t('titles.delivery_record.create'), new_delivery_record_path, class: 'btn btn-primary btn-block' %>
          <%= link_to t('titles.delivery_record.list'), delivery_records_path, class: 'btn btn-info btn-block' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= t('home.fbm_delivery_record') %></h5>
          <hr>
          <%= link_to t('titles.fbm_delivery_record.create'), new_fbm_delivery_record_path, class: 'btn btn-primary btn-block' %>
          <%= link_to t('titles.fbm_delivery_record.list'), fbm_delivery_records_path, class: 'btn btn-info btn-block' %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= t('home.item_link') %></h5>
          <hr>
          <%= link_to t('titles.item_link.create'), new_item_link_path, class: 'btn btn-primary btn-block' %>
          <%= link_to t('titles.item_link.list'), item_links_path, class: 'btn btn-info btn-block' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= t('home.aws_order') %></h5>
          <hr>
          <%= link_to t('titles.aws_order.create'), new_aws_order_path, class: 'btn btn-primary btn-block' %>
          <%= link_to t('titles.aws_order.list'), aws_orders_path, class: 'btn btn-info btn-block' %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= t('home.ads') %></h5>
          <hr>
          <%= link_to t('titles.ads_cost.create'), new_ads_cost_path, class: 'btn btn-primary btn-block' %>
          <!-- Add link to the corresponding list if applicable -->
        </div>
      </div>
    </div>
  </div>

</div>
