<table class="table">
  <thead>
    <tr>
      <th><%= t('item_link.name')%></th>
      <th><%= t('item_link.skus_count')%></th>
      <th><%= t('actions.name')%></th>
    </tr>
  </thead>
  <tbody>
    <% @item_links.each do |item_link| %>
      <tr>
        <td><%= item_link.name %></td>
        <td><%= item_link.skus.count %></td>
        <td>
          <%= link_to t('actions.edit'), edit_item_link_path(item_link), class: 'btn btn-primary btn-sm' %>
          <%= link_to t('actions.details'), item_link_path(item_link), class: 'btn btn-info btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/back' %>