<% if is_new_or_create? %>
  <button id='import-toggle' class='btn btn-info'>
    切换导入方式
  </button>
<% end %>
<%= simple_form_for @sku, html: { class: 'sku-form' } do |f| %>
  <% if is_new_or_create? %>
    <%= f.input :file, label: '通过文件导入', as: :file, input_html: { class: 'form-control' } %>
  <% end %>
  <%= f.input :shop_id, label: '所属店铺', collection: Shop.all.map{ |c| [c.name, c.id] }, selected: @sku.shop_id %>
  <%= f.input :name, label: 'SKU' %>
  <%= f.input :price, label: '售价' %>
  <%= f.input :note, label: '备注' %>
  <%= f.button :submit, '提交', class: 'btn btn-primary' %>
<% end %>

<%= render 'shared/back' %>

<script>
  $(document).ready(function() {
    $('#import-toggle').click(function() {
      let skuVisible = $('.sku_name').is(':visible');
      let fileVisible = $('.sku_file').is(':visible');

      $('.sku-form')[0].reset()

      if (skuVisible) {
        $('.sku_name, .sku_note, .sku_price, .sku_shop_id').hide();
        $('.sku_file').show();
      } else if (fileVisible) {
        $('.sku_file').hide();
        $('.sku_name, .sku_note, .sku_price, .sku_shop_id').show();
      }
    });
  });
</script>