<% if is_new_or_create? %>
  <button id='import-toggle' class='btn btn-info'>
    <%= t('switch_import_method')%>
  </button>
  <br>
<% end %>

<%= simple_form_for @fbm_delivery_record, html: { class: 'fbm_delivery_record-form' } do |f| %>
  <% if is_new_or_create? %>
    <%= f.input :file, label: t('form.file'), as: :file, input_html: { class: 'form-control' } %>
  <% end %>
  <%= f.label :sku_id, class: 'fbm_delivery_record_sku_id' %>
  <%= f.input :sku_id, label: false, as: :select, input_html: { class: 'select2', style: 'width: 40%;' }, collection: @skus.map{|x| [x.name, x.id]}, selected: @fbm_delivery_record.sku_id %>
  <%= f.input :purchased_at, as: :string, label: t('fbm_delivery_record.purchased_at'), input_html: { class: 'flatpickr' } %>
  <%= f.input :amt, label: t('fbm_delivery_record.amt') %>
  <%= f.input :purchase_note, label: t('fbm_delivery_record.purchase_note') %>
  <%= f.input :delivery_method, label: t('fbm_delivery_record.delivery_method') %>
  <%= f.input :delivery_status, label: t('fbm_delivery_record.delivery_status') %>
  <%= f.input :order_note, label: t('fbm_delivery_record.order_note') %>
  <%= f.input :aws_order_ref, label: t('fbm_delivery_record.aws_order_ref') %>
  <%= f.input :note, label: t('fbm_delivery_record.note') %>

  <%= f.button :submit, t('form.submit'), class: 'btn btn-primary' %>
<% end %>

<%= render 'shared/back' %>

<script>
  $(document).ready(function() {
    function toggleDeliveryRecordForm() {
      let fileVisible = $('.fbm_delivery_record_file').is(':visible');

      $('.fbm_delivery_record-form')[0].reset()

      if (fileVisible) {
        $('.fbm_delivery_record_sku_id,.fbm_delivery_record_purchased_at,.fbm_delivery_record_amt,.fbm_delivery_record_purchase_note,.fbm_delivery_record_delivery_method,.fbm_delivery_record_delivery_status,.fbm_delivery_record_order_note,.fbm_delivery_record_aws_order_ref,.fbm_delivery_record_note').show();
        $('.fbm_delivery_record_file').hide();
      } else {
        $('.fbm_delivery_record_sku_id,.fbm_delivery_record_purchased_at,.fbm_delivery_record_amt,.fbm_delivery_record_purchase_note,.fbm_delivery_record_delivery_method,.fbm_delivery_record_delivery_status,.fbm_delivery_record_order_note,.fbm_delivery_record_aws_order_ref,.fbm_delivery_record_note').hide();
        $('.fbm_delivery_record_file').show();
      }
    }

    $('#import-toggle').click(toggleDeliveryRecordForm);
  });
</script>