<%= link_to t('titles.fbm_delivery_record.create'), new_fbm_delivery_record_path, class: 'btn btn-primary' %>
<br>

<%= render 'filters' %>

<table class="table">
  <thead>
    <tr>
      <th><%= t('fbm_delivery_record.aws_order_ref')%></th>
      <th><%= t('sku.name')%></th>
      <th><%= t('fbm_delivery_record.purchase_note')%></th>
      <th><%= t('fbm_delivery_record.delivery_method')%></th>
      <th><%= t('fbm_delivery_record.delivery_status')%></th>
      <th><%= t('fbm_delivery_record.order_note')%></th>
      <th><%= t('fbm_delivery_record.purchased_at')%></th>
      <th><%= t('fbm_delivery_record.amt')%></th>
      <th><%= t('fbm_delivery_record.item_link')%></th>
      <th><%= t('fbm_delivery_record.note')%></th>
      <th><%= t('actions.title')%></th>
    </tr>
  </thead>
  <tbody>
    <% @fbm_delivery_records.each do |r| %>
      <tr>
        <td><%= r.aws_order_ref %></td>
        <td><%= r.sku&.name %></td>
        <td><%= r.purchase_note %></td>
        <td><%= r.delivery_method %></td>
        <td><%= r.delivery_status %></td>
        <td><%= r.order_note %></td>
        <td><%= r.purchased_at&.strftime('%Y-%m-%d') %></td>
        <td><%= r.amt %></td>
        <td>|待完成|</td>
        <td><%= r.note %></td>
        <td>
          <%= link_to '修改', edit_fbm_delivery_record_path(r), class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>

<%= render 'shared/back' %>