<%= link_to '创建/导入 物流', new_shipment_path, class: 'btn btn-primary' %>
<br>
<hr>
<%= search_form_for @q, html: { class: 'form-inline col-sm-2 col-md-3' } do |f| %>
  <div class="form-group mb-2">
    <%= f.label :aws_order_ref_cont, 'AWS订单号', class: 'mr-2' %>
    <%= f.search_field :aws_order_ref_cont, class: 'form-control mr-2' %>
  </div>
  <div class="form-group mb-2">
    <%= f.label :order_ref_cont, '运单号', class: 'mr-2' %>
    <%= f.search_field :order_ref_cont, class: 'form-control mr-2' %>
  </div>
  <%= f.submit '筛选', class: 'btn btn-primary mb-2' %>
<% end %>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>AWS订单号</th>
      <th>运单号</th>
      <th>费用</th>
      <th>渠道</th>
      <th>记录时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |r| %>
      <tr>
        <td><%= r.aws_order_ref %></td>
        <td><%= r.order_ref %></td>
        <td><%= r.total_fee %></td>
        <td><%= r.channel_in_text %></td>
        <td><%= r.transaction_at&.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td>
          <%= link_to '修改', edit_shipment_path(r), class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>