<%= render 'filters' %>

<table class="table">
  <thead>
    <tr>
      <th>SKU</th>
      <th><%= t('aws_order.date') %></th>
      <th><%= t('aws_order.order_ref_cont') %></th>
      <th><%= t('aws_order.merchant_order_ref') %></th>
      <th><%= t('aws_order.amt') %></th>
      <th><%= t('aws_order.amt_type_cont') %></th>
      <th><%= t('aws_order.desc') %></th>
      <th><%= t('aws_order.amend_amt')%></th>
      <th><%= t('aws_order.manual_amend_amt') %></th>
      <th><%= t('aws_order.total_amt') %></th>
      <th><%= t('aws_order.note') %></th>
      <th><%= t('actions.title') %></th>
    </tr>
  </thead>
  <tbody>
    <% @aws_orders.each do |aws_order| %>
      <tr>
        <td><%= aws_order.sku&.name %></td>
        <td><%= aws_order.posted_at&.strftime('%Y-%m-%d') %></td>
        <td><%= aws_order.order_ref %></td>
        <td><%= aws_order.merchant_order_ref %></td>
        <td><%= aws_order.amt %></td>
        <td><%= aws_order.amt_type %></td>
        <td><%= aws_order.desc %></td>
        <td><%= aws_order.amend_amt %></td>
        <td><%= aws_order.manual_amend_amt %></td>
        <td><%= aws_order.total_amt %></td>
        <td><%= aws_order.note %></td>
        <td>
          <%= link_to '修改', edit_path(aws_order), class: 'btn btn-primary btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>

<%= render 'shared/back' %>